[build]
  command = "sed -i 's|__API_KEY_PLACEHOLDER__|'\"$VITE_API_KEY\"'|g' index.html"
  publish = "."

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  
  [dev]
  targetPort = 3000